<div class="container">
    <h3>Menu Details!</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <!-- <th scope="col">City</th> -->
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of result.t">
                <td>{{r.manager.id}}</td>
                <td>{{r.name}}</td>
                <td>{{r.type}}</td>
                <!-- <td>{{r.name}}</td> -->
                <!-- <td>{{r.phone}}</td> -->
                <td><button type="button" [routerLink]="['/updateMenu',r.id]" [disabled]="loginId!=r.manager.id">Update</button></td>
                <!-- <td><button type ="button" (click)="deleteMenu(r.id)">Delete</button></td> -->
            </tr>
        </tbody>
    </table>
</div>

